<table class="table table-inverse table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>WBS</th>
      <th>Cliente</th>
      <th>Vault</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>C-75-826023-681</td>
      <td>PROAN</td>
      <td>240088</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>C-75-826123-681</td>
      <td>Cargill Pelletmill</td>
      <td>240055</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>C-75-826062-681</td>
      <td>Cargill Optimill</td>
      <td>240033</td>
    </tr>
  </tbody>
</table>
