<div class="row">
  <div class="col-md-3 machine p-5">Pellet Presses</div>
  <div class="col-md-3 machine p-5">Mills</div>
  <div class="col-md-3 machine p-5">Mixers</div>
  <div class="col-md-3 machine p-5">Extruders</div>
  <div class="col-md-3 machine p-5">Screws</div>
  <div class="col-md-3 machine p-5">Filters</div>
  <div class="col-md-3 machine p-5">Crumblers</div>
  <div class="col-md-3 machine p-5">Separators</div>
  <div class="col-md-3 machine p-5">Pocket Feeders</div>
  <div class="col-md-3 machine p-5">MFS</div>
  <div class="col-md-3 machine p-5">VAC</div>
  <div class="col-md-3 machine p-5">CZD</div>
</div>
